@media (min-width:1200px) {
    .application {
        /* min-width: 1190px */
        max-width: 1100px;
        /* border: solid 1px #73c990; */
    }

    .lintflow-title-short {
        display: none;
    }

    .lintflow-title-long {
        display: block;
    }
}