@media only screen and (max-width:480px) {
    .application {
        min-width: 310px;
        width: 95%;
    }

    .stack-top {
        /* border: solid 1px #665888; */
        width: 100px;

    }
    .sidebar-menu  {
        /* border: #c97373 2px solid; */
    }

    .sidebar {
        border-top: 1px solid #E05561;
        min-width: 72%;
    }

    .lintflow-title-short {
        display: block;
    }

    /* #expand-toggle:checked ~ *.lintflow-title-long {
    display: block;
  } */
    .lintflow-title-long {
        display: none;
    }


}

/*
@media (max-width:480px) and (orientation: landscape) {


}*/