@media (min-width:481px) and (max-width:767px) {
    .application {
        min-width: 471px;
        width: 95%;
        /* border: solid 1px #e06c75; */
    }
    .stack {
        /* width: 100%; */
    }



    .lintflow-title-short {
        display: block;
    }

    /* #expand-toggle:checked ~ *.lintflow-title-long {
    display: block;
  } */
    .lintflow-title-long {
        display: none;
    }
}